/* Замовити дзвінок */
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 286px;
  max-width: 500px;
  max-height: 55px;

  padding: 15px 25px;

  font-family: var(--title-sans-serif); /* 18 sp • H5 Headline */
  @include fz(20px, 500, 1.25);
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--color-text-primary);
  text-overflow: ellipsis;
  word-wrap: break-word;

  background-color: var(--color-accent);
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 29px rgba(255, 249, 94, 0.54);

  @include transition;
  transition-property: transform, background-color;

  &:focus,
  &:hover {
    background-color: darken($color-accent, 10);
  }

  /* Асортимент */
  // &__desc { }
}
