/* Rectangle 176 */
.page-footer__background {
  background-color: var(--color-text-primary);
  background-image: url('../img/map/map.jpg');
  background-image: url('../img/map/map.webp');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  @include bg-retina('../img/map/map@2x.jpg');
  @include bg-retina('../img/map/map@2x.webp');
}
