/* Найсвіжіша випічка власного виробництва на будь-який смак. Також у нас можна замовити домашні вареники, пельмені, короваї, листове тісто і багато іншого. */
.hero__desc {
  width: 694px;

  @include mq($mobile, $mb: 30px);

  /* font-family: Proxima Nova; fs 24px, 400, ls: 1.3 or 31px */
  @include fz(21px, null, 1.48, -0.6px);
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--color-white);
}
