.hero__container {
  min-height: 940px;

  $hero-bg-grad: linear-gradient(180deg, #000000 -1.44%, rgba(0, 0, 0, 0) 18.67%),
    linear-gradient(89.6deg, #000000 0.35%, rgba(0, 0, 0, 0) 50.92%);

  background: center/cover no-repeat padding-box var(--color-text-primary);
  background-image: $hero-bg-grad, url('../img/hero-bg/hero-bg.jpg');
  background-image: $hero-bg-grad, url('../img/hero-bg/hero-bg.webp');

  @include bg-retina('../img/hero-bg/hero-bg@2x.jpg', $hero-bg-grad);
  @include bg-retina('../img/hero-bg/hero-bg@2x.webp', $hero-bg-grad);
}
