/* Найсвіжіша випічка власного виробництва на будь-який смак. Також у нас можна замовити домашні вареники, пельмені, короваї, листове тісто і багато іншого. */
.hero__desc {
  width: 694px;

  @include mq($mobile, $mb: 30px);

  @include fz(23px, 400, 31px); /* font-family: Proxima Nova; fs 24px, or 31px */
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: var(--color-white);
}
