body {
  font-family: var(--body-sans-serif);
  // Montserrat (free)   fs: 16px, lh: 1.40625  equal to
  // Proxima Nova (paid) fs: 18px, lh: 1.25
  @include fz($fs-montserrat, null, 1.48);

  color: var(--color-text-primary);

  font-feature-settings: 'pnum' on, 'lnum' on;
  contain: content;
}
