/* ПЕКАРНЯ */
.hero__title {
  font-family: var(--title-sans-serif);
  @include fz(130px, null, 1.1); /* /Desktop • 130 sp • H1 Headline,  lh: 143px */
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--color-accent);
  text-transform: uppercase;
}

// .goods__name { }

/* Категорії товарів */
.section__title {
  margin-bottom: 50px;
  /* Montserrat - fs: 44px, lh:1.36; Proxima Nova - 48 sp • H2 Headline, 60 px*/
  @include fz(44px, 700, 1.36);
  color: var(--color-text-primary);

  transform: translateX(50%);
  transition-property: transform;
  @include transition;

  &-text {
    position: relative;

    display: inline-block;
    transform: translateX(-50%);
    transition-property: transform;
    @include transition;

    &::before {
      content: '';
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: -5px;
      z-index: -1;

      width: 20px;
      background: var(--color-accent);
    }
  }
}
