.goods-filter__btn {
  @extend %btn;

  display: block;
  padding: 15px 25px;

  font-family: var(--title-sans-serif);

  @include fz(20px, 500, 1.25);
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: var(--color-filter-btn);
  text-align: center;

  background-color: var(--color-white);
  border: 1px solid var(--color-accent);
  border-radius: 30px;
  box-shadow: none;

  transition-property: background-color, border-color;

  &:focus,
  &:hover,
  &--current {
    background-color: var(--color-accent);
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 29px rgba(255, 249, 94, 0.54);
  }
}
