/* Наша пекарня це мережа, яка завойовує серця любителів теплої оригінальної випічки. */
.about-us__text {
  /* Desktop • 24 sp • H5 Headline, Proxima Nova, normal, 400, fz24px, lh1.3 */
  width: 730px;
}

.about-us__text:not(:last-child) {
  margin-bottom: 15px;
}

.about-us__first-word {
  font-weight: 700;
  color: var(--color-accent); /* color3 */
  text-transform: uppercase;
}
