.consultancy__label {
  position: relative;

  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &-text {
    position: absolute;
    bottom: 100%;
    left: 0%;

    padding: 14px 15px;
    opacity: 0.6; /* color4 */
    transition-property: transform, opacity, color;
    @include transition;

    .consultancy__input:focus + & {
      color: var(--color-accent);
    }
  }
}
